@model IEnumerable<CleanDeal.DTOs.CleaningOrderDTO>
@{
    ViewData["Title"] = "Moje zlecenia";
    bool isAdmin = User.IsInRole("Admin");
    bool isClient = User.IsInRole("Client");
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Nowe zamówienie</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Usługa</th>
            <th>Status</th>
            <th>Kwota</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.Id</td>
                <td>@o.Date.ToString("g")</td>
                <td>@o.ServiceTypeName</td>
                <td>
                    @(o.Status switch
                    {
                        "Ukończone" => "Ukończone",
                        "Oczekuje" => "Oczekuje",
                        _ => "W toku"
                    })
                    @if (o.IsPaid)
                    {
                        <span class="badge bg-success ms-1">Opłacone</span>
                    }
                    else
                    {
                        <span class="badge bg-danger ms-1">Nie opłacone</span>
                    }
                </td>
                <td>
                    @(o.TotalPrice ?? 0)
                </td>
                <td class="px-4">
                    <div class="btn-group ms-xxl-5 float-end" role="group">
                        @if (isAdmin)
                        {
                            <a class="btn btn-primary" asp-controller="Chat" asp-action="Order" asp-route-id="@o.Id">Czat</a>
                        }
                        <a asp-action="Details" asp-route-id="@o.Id" class="btn btn-outline-primary">Szczegóły</a>
                        @if (o.Status != "Ukończone")
                        {
                            <a asp-action="Edit" asp-route-id="@o.Id" class="btn btn-outline-primary"> Edytuj </a>
                        }
                        @if (!o.IsPaid && isClient)
                        {
                            <a asp-controller="Payments" asp-action="Checkout"
                               asp-route-id="@o.Id" class="btn btn-success"> Zapłać </a>
                        }
                        @if (isAdmin @*|| (o.Status != "Ukończone" && !o.IsPaid)*@)
                        {
                            <a asp-action="Delete" asp-route-id="@o.Id" method="post"
                               class="btn btn-danger"
                               onsubmit="return confirm('Usunąć?');">
                                Usuń
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
